<h1>Ecco il todo:</h2>

<p>
  nome: <%= @todo.name %>
</p>
<p>
  descrizione: <%= @todo.description %>
</p>
<%= link_to 'Modifica', edit_todo_path(@todo) %>
<%= link_to 'Torna alla lista', todos_path %>
